#create a new file named .env. Copy the contents of this file and then adapt the values

#change this to the secret key django provides
DJANGO_SECRET_KEY='django-insecure-asdfjklöasdfjklöasdfjklöasdfjklö'
EMAIL_HOST_PASSWORD='super_cool_password'
EMAIL_HOST_USER='kontakt@hst-heidelberg.de'