#!/bin/bash
docker build \
--build-arg DJANGO_SUPERUSER_USERNAME='user' \
--build-arg DJANGO_SUPERUSER_EMAIL='user@example.com' \
--build-arg DJANGO_SUPERUSER_PASSWORD='password' \
--tag hst_backend \
.