{% extends "registration/base.html" %}

{% block title %}Anmeldung erfolgreich{% endblock %}

{% block body %}
    <div class="container bg-light p-3">
        {% if watchparty_list %}
            {% if watchparty_list|length > 1 %}
                <h3>Du hast dich erfolgreich für folgende Watchpartys angemeldet:</h3>
            {% else %}
                <h3>Du hast dich erfolgreich für folgende Watchparty angemeldet:</h3>
            {% endif %}
            <ul>
            {% for watchparty in watchparty_list %}
                <li>{{ watchparty.street }}, {{ watchparty.plz }} {{ watchparty.city }} am 
                    {{ watchparty.day.day }}.{{ watchparty.day.month}}.{{ watchparty.day.year }}.</li>
            {% endfor %}
            </ul>
            Der Host dieser Watchparty-Location ist {{ watchparty_list.0.first_name }} {{ watchparty_list.0.last_name }}.
            Bei Fragen schreib ihm/ihr gerne an <a href='mailto:{{ watchparty_list.0.email }}'>{{ watchparty_list.0.email }}</a>.<br>
            Melde weitere Personen aus deinem Haushalt bitte über folgenden Link an: <a class="btn btn-primary" href='{{ household_link }}'>Zur Anmeldung</a>.<br>
            Unter folgendem Link kannst du deine Anmeldung einsehen, bearbeiten oder dich abmelden: <a class="btn btn-primary" href='{{ edit_link }}'>Bearbeiten</a>.
        {% else %}
            <p>Keine Registration erfolgt.</p>
        {% endif %}
    </div>
{% endblock %}
