{% autoescape off %}
Hi {{ user.first_name }},
{% if watchparty_list|length > 1 %}
Du hast dich erfolgreich für folgende Watchpartys angemeldet:
{% else %}
Du hast dich erfolgreich für folgende Watchparty angemeldet:
{% endif %}
{% for watchparty in watchparty_list %}
    - {{ watchparty.street }}, {{ watchparty.plz }} {{ watchparty.city }} am {{ watchparty.day.day }}.{{ watchparty.day.month}}.{{ watchparty.day.year }}.
{% endfor %}
Der Gastgeber dieser Watchparty-Location ist {{ watchparty_list.0.first_name }} {{ watchparty_list.0.last_name }}.
Bei Fragen schreib ihm gerne an {{ watchparty_list.0.email }}.

Melde weitere Personen aus deinem Haushalt bitte über folgenden Link an: {{ household_link }}.
Viele Grüße,
dein HST Orga Team
{% endautoescape %}