{% extends "registration/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Neue Watchparty erstellen{% endblock %}

{% block body %}
        <div class="container bg-light p-3">
        <h2>Neue Watchparty erstellen</h2>
        <h3>Daten</h3>
        <form action="{% url 'new_watchparty' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <!--<button class="btn btn-primary">Weitere Person aus demselben Haushalt hinzufügen</button>-->
            <button class="btn btn-primary" type="submit">Erstellen</button>
            </form>
        </div>
{% endblock %}