{% extends "registration/base.html" %}

{% block title %}Anmeldung erfolgreich{% endblock %}

{% block body %}
    <div class="container bg-light p-3">
        {% if watchparty_list %}
            {% if watchparty_list|length > 1 %}
                <h3>Bitte bestätige deine Emailadresse {{ email }}, um die Anmeldung für folgende Watchpartys abzuschließen:</h3>
            {% else %}
                <h3>Bitte bestätige deine Emailadresse {{ email }}, um die Anmeldung für folgende Watchparty abzuschließen:</h3>
            {% endif %}
            <ul>
            {% for watchparty in watchparty_list %}
                <li>{{ watchparty.street }}, {{ watchparty.plz }} {{ watchparty.city }} am 
                    {{ watchparty.day.day }}.{{ watchparty.day.month}}.{{ watchparty.day.year }}.</li>
            {% endfor %}
            </ul>
            Schau bitte auch im Spamordner!
        {% else %}
            <p>Keine Registration erfolgt.</p>
        {% endif %}
    </div>
{% endblock %}
