{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
    <!-- jQuery -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--EasyButton for Leaflet-->
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&amp;display=swap" rel="stylesheet">
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom_styles.css' %}" rel="stylesheet">
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static "assets/img/favicon.ico" %}">

    <!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>-->

    <title>Watchparty Karte</title>
    <style>
        body {
            margin: 0;
        }

        html,
        body,
        #map {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div id="map">
        <!-- Button to close the overlay navigation -->
        <!--<a href="javascript:void(0)" class="leaflet-top leaflet-right" style="pointer-events: auto" onclick="closeMap()">&times;</a>-->
    </div>
    <!--<div id="map" style="height: 100%" ></div>-->

    <script>
        data = {{ loc_dict | safe }};
        console.log(data);
        var map = L.map('map').setView({ lat: 49.43, lon: 8.6759873 }, 12);
        // add the OpenStreetMap tiles
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);

        // show the scale bar on the lower left corner
        L.control.scale().addTo(map);
        var yellowIcon = L.icon({
            iconUrl: "{% static 'marker_yellow.svg' %}",
            iconSize: [38, 95], // size of the icon
            shadowSize: [50, 64], // size of the shadow
            iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

        var greenIcon = L.icon({
            iconUrl: "{% static 'marker_green.svg' %}",
            iconSize: [38, 95], // size of the icon
            shadowSize: [50, 64], // size of the shadow
            iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

        var redIcon = L.icon({
            iconUrl: "{% static 'marker_red.svg' %}",
            iconSize: [38, 95], // size of the icon
            shadowSize: [50, 64], // size of the shadow
            iconAnchor: [22, 94], // point of the icon which will correspond to marker's location
            shadowAnchor: [4, 62],  // the same for the shadow
            popupAnchor: [-3, -76] // point from which the popup should open relative to the iconAnchor
        });

        L.easyButton(
            {
                position: 'topright',
                leafletClasses: true,
                states: [{
                    onClick: (control) => window.open("https://{{ domain }}/registration/new_watchparty/", "_self"),
                    icon: 'fa-plus',
                    title: 'Erstelle eine neue Watchparty'
                }]
            }
        ).addTo(map)

        async function add_markers() {
            for (key in data) {
                value = data[key];
                await $.get(
                    location.protocol + '//nominatim.openstreetmap.org/search?format=json&q=' + value.plzcity + ", " + value.street,
                    function (loc_data) {
                        console.log(loc_data);
                        lon = loc_data[0].lon;
                        lat = loc_data[0].lat;
                        //var popupStr = '<strong>' + value.plzcity + '</strong><br>' + value.street + '<br><br>' + '<a href="' + value.link + '">Anmeldung</a>'
                        var popup_str = value.popup_str
                        if (value.color == 'green') idict = { icon: greenIcon }
                        if (value.color == 'yellow') idict = { icon: yellowIcon }
                        if (value.color == 'red') idict = { icon: redIcon }

                        L.marker([lat, lon], idict).addTo(map).bindPopup(popup_str);
                    }
                );
            }
        }
        add_markers()
        var legend = L.control({ position: "bottomleft" });

        legend.onAdd = function (map) {
            var div = L.DomUtil.create("div", "legend bg-dark text-light rounded shadow-lg");
            div.innerHTML += "<h4 class='text-white'>Legende</h4>";
            div.innerHTML += '<i class="rounded" style="background: #5cb85c"></i><span>Freie Plätze für alle</span><br>';
            div.innerHTML += '<i class="rounded" style="background: #ffcf48"></i><span>Freie Plätze nur für Geimpfte</span><br>';
            div.innerHTML += '<i class="rounded" style="background: #d9534f"></i><span>Aktuell keine freien Plätze</span><br>';



            return div;
        };

        legend.addTo(map);

    </script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
     <!-- Third party plugin JS-->
     <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
</body>

</html>