{% extends "registration/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Anmeldung Watchparty{% endblock %}

{% block body %}
        <div class="container bg-light p-3">
            <h2>Anmeldung Watchparty</h2>
            {% if watchparty_list|length > 0 %}
            <h3>Adresse</h3>
            <p>
                {{ watchparty_list.0.street }}<br> <!-- all watchpartys have the same address-->
                {{ watchparty_list.0.plz }} {{ watchparty_list.0.city }}
            </p>
            <h3>Deine Daten</h3>
            <form action="{% url 'register_with_household_id' household_pk_uidb64 token %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Anmelden</button>
            </form>
            {% else %}
            <p>Sorry, diese Watchparty ist leider schon ausgebucht.</p>
            <p>Melde dich gerne bei einer anderen Watchparty an!</p>
            {% endif %}
        </div>
{% endblock %}