{% autoescape off %}
Hi {{ first_name }},
{% if watchparty_list|length > 1 %}
Du hast erfolgreich folgende Watchpartys erstellt:
{% else %}
Du hast erfolgreich folgende Watchparty erstellt:
{% endif %}
{% for watchparty in watchparty_list %}
    - {{ watchparty.street }}, {{ watchparty.plz }} {{ watchparty.city }} am {{ watchparty.day.day }}.{{ watchparty.day.month}}.{{ watchparty.day.year }}.
{% endfor %}

Wir schalten deine Watchparty demnächst frei.
Wenn du noch weitere Fragen hast, schreib uns gerne eine Mail an kontakt@hst-heidelberg.de.
Liebe Grüße und vielen Dank, dass du eine Watchparty hostest!
Dein HST Orga Team
{% endautoescape %}