{% extends "registration/base.html" %}

{% block title %}Erstellen erfolgreich{% endblock %}

{% block body %}
<body class="bg-dark p-3">
    <div class="container bg-light p-3">
        {% if watchparty_list %}
            {% if watchparty_list|length > 1 %}
                <h3>Du hast erfolgreich folgende Watchpartys erstellt:</h3>
            {% else %}
                <h3>Du hast erfolgreich folgende Watchparty erstellt:</h3>
            {% endif %}
            <ul>
            {% for watchparty in watchparty_list %}
                <li>{{ watchparty.street }}, {{ watchparty.plz }} {{ watchparty.city }} am 
                    {{ watchparty.day.day }}.{{ watchparty.day.month}}.{{ watchparty.day.year }}.</li>
            {% endfor %}
            </ul>
            <a href='{{ info_link }}'>Hier</a> kannst du nachschauen, wer sich zu deiner Watchparty angemeldet hat.
        {% else %}
            <p>Fehler: Keine Watchparty erstellt.</p>
        {% endif %}
    </div>
</body>
{% endblock %}
