{% extends "registration/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Watchparty Details{% endblock %}

{% block body %}
        <div class="container bg-light p-3">
            <h2>Watchparty Details</h2>
            <h3>Adresse</h3>
            <p>
                {{ watchparty_list.0.street }}<br> <!-- all watchpartys have the same address-->
                {{ watchparty_list.0.plz }} {{ watchparty_list.0.city }}
            </p>
            <div>
            {% if watchparty_list.0.is_confirmed %}
                <div style="color: green;">Deine Watchparty ist freigegeben.</div>
                <h3>Teilnehmer</h3>
                {% for watchparty, users in data.items %}
                    <div>
                        <h4>{{ watchparty.day.day }}.{{ watchparty.day.month}}.{{ watchparty.day.year }}</h4>
                        <table class="table table-responsive our-large-table">
                            <tr><th>Name</th><th>Email</th><th>Email bestätigt</th></tr>
                            <!-- for user in data[watchparty] -->
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                                    <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                                    <td>{% if  user.is_active %} Ja {% else %} Nein {% endif %} </td>
                                </tr>    
                            {% endfor %}
                        </table>
                        <table class="table table-responsive our-small-table">
                            <tr><th>Name</th><th>Email bestätigt</th></tr>
                            <!-- for user in data[watchparty] -->
                            {% for user in users %}
                                <tr>
                                    <td><a href="mailto:{{ user.email }}">{{ user.first_name }} {{ user.last_name }}</a></td>
                                    <td>{% if  user.is_active %} Ja {% else %} Nein {% endif %} </td>
                                </tr>    
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            {% else %}
                <div style="color: red;">Deine Watchparty wurde noch nicht freigegeben. Wir arbeiten daran.</div>
            {% endif %}
            </div>
            <br>
            Bei Fragen, Problemen oder Anregungen schreib uns gerne eine Mail an <a href="mailto:kontakt@hst-heidelberg.de">kontakt@hst-heidelberg.de</a>.
        </div>
{% endblock %}
