{% extends "registration/base.html" %}

{% load crispy_forms_tags %}

{% block title %}Erstellen erfolgreich{% endblock %}

{% block body %}
<body class="bg-dark p-3">
    <div class="container bg-light p-3">
        {% if watchparty_list %}
            {% if watchparty_list|length > 1 %}
                <h3>Bitte bestätige deine Emailadresse, um das Erstellen folgender Watchpartys abzuschließen:</h3>
            {% else %}
                <h3>Bitte bestätige deine Emailadresse, um das Erstellen folgender Watchparty abzuschließen:</h3>
            {% endif %}
            <ul>
            {% for watchparty in watchparty_list %}
                <li>{{ watchparty.street }}, {{ watchparty.plz }} {{ watchparty.city }} am 
                    {{ watchparty.day.day }}.{{ watchparty.day.month}}.{{ watchparty.day.year }}.</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Fehler: Keine Watchparty erstellt.</p>
        {% endif %}
        Schau bitte auch im Spamordner nach
    </div>
</body>
{% endblock %}
